
.brand-logo {
    padding-left: 2vw!important;
}

.hide-on-med-and-down {
    padding-right: 1vw;
}

.large.material-icons.left{
    font-size: 7vh;
}

#navbar {
    background-color: #ff5622c0!important;
}